<li class="list-group-item">

  <div class="row">
    <div class="col-xs-3">
      <h5>author // rating:</h5>
      <h4>{{details}}</h4>
    </div>
    <div class="col-xs-9">
      <h3 id="forum">"{{reply.answer}}"</h3>
    </div>
  </div>

  <hr>
  <div class="row">

    <button class="btn btn-sm btn-danger" {{action 'delete' reply}}>remove this answer</button>

  </div>


</li>
