<li class="list-group-item">

  <hr>

  <h5>{{reply.answer}}</h5>

  <hr>

  <h6>{{reply.author}}'s answer has a ranking of: {{reply.rating}}</h6>

  <button class="btn btn-xs btn-danger" {{action 'deleteReply' reply}}>remove this answer</button>

</li>
