<li class="list-group-item">

  <hr>

  <h3>"{{reply.answer}}"</h3>
  <h4>{{details}}</h4>

  <hr>

  <button class="btn btn-xs btn-danger" {{action 'deleteReply' reply}}>remove this answer</button>

</li>
