<h4>queries marked as favorites:</h4>

{{#each favorites.favorites as |query|}}

  {{#link-to 'query' query.id}}

    <h3 id="forum"><em>{{query.query}}</em></h3>
    <h6>answered by: {{query.author}}</h6>

  {{/link-to}}

{{/each}}
