<div class="query-notes">

  <button class="btn btn-sm btn-danger" type="primary" icon="glyphicon glyphicon-remove" {{action 'delete' query}} id="otherButtons">delete query</button>
  <button class="btn btn-sm btn-default" {{action 'addToFavorites' query}}>add to favorites</button>

</div>
