<div class="query-notes" {{action 'deleteQuery' query}}>
    <!-- <p id="detail-text">{{query.notes}}</p> -->
    <!-- <button class="btn btn-danger" {{action 'delete' query}}></button> -->
    {{#bs-button class="btn btn-danger" type="primary" icon="glyphicon glyphicon-remove" action="deleteQuery"}}delete query{{/bs-button}}

</div>
