<div class="query-notes">


</div>

<button class="btn btn-danger" type="primary" icon="glyphicon glyphicon-remove" {{action 'delete' query}}>delete query</button>
<button class="btn btn-sm btn-success" {{action 'addToFavorites' query}}>add to favorites</button>
