h3, h4, h5, h6 {
  font-family: 'Muli';
}

#forum {
  font-family: "Eczar";
}

#footer-text {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 20px;
}

#postButton {
  margin-bottom: 3%;
  margin-left: 2%;
}

#otherButtons {
  margin-left: 2%;
}
