<header>

  {{#link-to 'index'}}
    <h2>Burning Questions</h2>
  {{/link-to}}

</header>

<div class="container">

  {{outlet}}

</div>

<footer>

  <p id="footer-text">kyle fisher // 2016</p>

</footer>
