{{header-tile}}

<div class="jumbotron" id="indexTron">

  <div id="forum-header">

    <h3> burning queries <em> q n'a </em> </h3>

  </div>
  <hr>
  <hr>

  <div class="container">
     {{#each model.queries as |query|}}
       {{query-tile query=query update="update"}}
     {{/each}}
  </div>

  <hr>
  <hr>

  <div class="container">
    {{new-query saveQuery="saveQuery"}}
  </div>

</div>

{{footer-tile}}
