{{header-tile}}

<div class="jumbotron" id="indexTron">

  <div id="forum-header">

    <h3><span class="glyphicon glyphicon-fire"></span> burning querys q <em>n'</em> a <span class="glyphicon glyphicon-fire"></span></h3>

  </div>
  <hr>
  <hr>

  <div class="container">
     {{#each model.queries as |query|}}
     <hr>
       {{query-tile query=query update="update"}}
     {{/each}}
  </div>

  <hr>
  <hr>

  <div class="container">
    {{new-query saveQuery="saveQuery"}}
  </div>

</div>

{{footer-tile}}
